<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Error page</title>

    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.5.3/css/bootstrap.min.css} "/>
</head>
<body>

<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                    <span class="display-1 d-block">
                        <span th:switch="${errorInfo != null}">
                            <span th:case="${true}" th:text="${errorInfo.code}"></span>
                            <span th:case="*" th:text="${status}"></span>
                        </span>
                    </span>
                <div class="mb-4 lead">
                        <span th:switch="${errorInfo != null}">
                            <span th:case="${true}" th:text="${errorInfo.message}"></span>
                            <span th:case="*" th:text="${error}"></span>
                        </span>
                </div>
                <a href="#" th:href="@{/}" class="btn btn-link">Back to Home</a>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
<script>
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
</script>
</body>
</html>
