<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Simple user form</title>

    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.5.3/css/bootstrap.min.css} "/>
    <style>
        #usersTable {
            table-layout: fixed;
            word-wrap: break-word;
        }
    </style>
</head>
<body class="container p-3 w-50">

<div th:if="${exception != null}" class="alert alert-danger alert-dismissible" role="alert">
    <span th:text="${exception}"></span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<form id="userForm" method="post" th:object="${newUser}" class="col card p-3 mb-5">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" placeholder="Enter username" required th:field="*{username}"
               class="form-control"/>
        <p th:errors="*{username}" class="text-danger"></p>
    </div>

    <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" placeholder="Enter first name" required th:field="*{firstName}"
               class="form-control"/>
        <p th:errors="*{firstName}" class="text-danger"></p>
    </div>

    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" placeholder="Enter last name" required th:field="*{lastName}"
               class="form-control"/>
        <p th:errors="*{lastName}" class="text-danger"></p>
    </div>

    <div class="form-group">
        <label for="dateOfBirth">Date of birth</label>
        <input type="date" id="dateOfBirth" required th:field="*{dateOfBirth}"
               class="form-control"/>
        <p th:errors="*{dateOfBirth}" class="text-danger"></p>
    </div>

    <input type="submit" class="btn btn-primary" value="Add user">
    <button id="loadingSubmit" class="btn btn-primary" type="button" disabled hidden>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Loading...
    </button>
</form>

<table id="usersTable" class="table table-striped table-bordered">
    <tr>
        <th>Username</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Date of birth</th>
        <th>Created</th>
    </tr>
    <tr th:if="${#lists.isEmpty(users)}">
        <td colspan="5">There are no users</td>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.username}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${#temporals.format(user.dateOfBirth, 'dd-MM-yyyy')}"></td>
        <td th:text="${#temporals.format(user.created, 'dd-MM-yyyy HH:mm:ss.SSSZ')}"></td>
    </tr>
</table>

<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
<script>
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }

    $('form#userForm').submit(function(){
        $(this).find(':input[type=submit]').prop('hidden', true);
        $(this).find(':button#loadingSubmit').prop('hidden', false);
    });
</script>
</body>
</html>
